@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <h1>로그인</h1>

    <h3>ID</h3>
    


    <form method="post">
        <input asp-route-id="User.UserID" class="form-control" name="id"/>
        <button type="submit" >Log In</button>
    </form>

    
</body>
