@page
@model WebAppRazor_ChatDB.Pages.MyRoomsModel
@{
    ViewData["Title"] = "My Chat Rooms";
}

<body>
    <p>
        <a asp-page="Rooms/Create">New Room</a>
    </p>
    <h1>My Chat Rooms</h1>

    <table>
        @foreach (var room in Model.MyRooms)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => room.RoomName)
                </td>
                <td>
                    <a asp-page="./ChatRoom" asp-route-id="@room.RoomID">Get In</a>
                </td>
            </tr>
        }

    </table>
</body>